{{- if and (or .Values.hubble.enabled .Values.hubble.ui.standalone.enabled) .Values.hubble.ui.enabled .Values.hubble.ui.networkPolicy.enabled }}
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: hubble-ui
  namespace: {{ include "cilium.namespace" . }}
  labels:
    k8s-app: hubble-ui
    app.kubernetes.io/name: hubble-ui
    app.kubernetes.io/part-of: cilium
    {{- with .Values.commonLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  endpointSelector:
    matchLabels:
      k8s-app: hubble-ui
  ingress:
    # Allow HTTP from any source (users via Service/Ingress)
    - toPorts:
        - ports:
            - port: "8081"
              protocol: TCP
  egress:
    # Allow connection to hubble-relay
    - toEndpoints:
        - matchLabels:
            k8s-app: hubble-relay
      toPorts:
        - ports:
            {{- if .Values.hubble.relay.tls.server.enabled }}
            - port: "443"
            {{- else }}
            - port: "80"
            {{- end }}
              protocol: TCP
    # Allow DNS resolution
    - toEndpoints:
        - matchLabels:
            k8s-app: kube-dns
      toPorts:
        - ports:
            - port: "53"
              protocol: UDP
            - port: "53"
              protocol: TCP
          rules:
            dns:
              - matchPattern: "*"
{{- end }}
